<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>celebrar</string>
	<string>participacion</string>
	<string>orientado</string>
	<string>computadora</string>
	<string>honorifico</string>
	<string>estilizado</string>
	<string>trabajador</string>
	<string>retroactivo</string>
	<string>marcadores</string>
	<string>superacion</string>
	<string>incapacitado</string>
	<string>marioneta</string>
	<string>circular</string>
	<string>cartucho</string>
	<string>forajido</string>
	<string>batallon</string>
	<string>impresora</string>
	<string>escritorio</string>
	<string>departamento</string>
	<string>programacion</string>
	<string>acondicionado</string>
	<string>convicto</string>
	<string>ensalada</string>
	<string>privacidad</string>
	<string>politica</string>
	<string>paranoia</string>
	<string>importable</string>
	<string>paradojico</string>
	<string>importante</string>
</array>
</plist>
