<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>facil</string>
	<string>perro</string>
	<string>arbol</string>
	<string>rosa</string>
	<string>dulce</string>
	<string>raton</string>
	<string>balon</string>
	<string>virus</string>
	<string>covid</string>
	<string>grave</string>
	<string>lentes</string>
	<string>cama</string>
	<string>foco</string>
	<string>cafe</string>
	<string>gallo</string>
	<string>carne</string>
	<string>mago</string>
	<string>rana</string>
	<string>pais</string>
	<string>palo</string>
	<string>sapo</string>
	<string>vaca</string>
	<string>verde</string>
	<string>reto</string>
	<string>roma</string>
	<string>torre</string>
	<string>azul</string>
	<string>agudo</string>
	<string>papel</string>
	<string>pollo</string>
	<string>ramo</string>
</array>
</plist>
